.board_container {
  padding: 0 10%;
}

.board_container_board_name {
  display: inline-block;
  padding: 20px 60px;
  margin: 20px 0;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  text-shadow: 0px 0px 3px #000;
  background-color: #9fe7a4;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.board_container_tasks {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}