.board_container_task_list_task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: rgb(202, 255, 222);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.board_container_task_list_task.completed {
  background-color: rgb(222, 202, 255);
  text-decoration: line-through;
  opacity: 0.35;
}

.board_container_task_list_task_button {
  background: none;
  transition: all 200ms ease-in-out;
  opacity: 0.4;
}

.board_container_task_list_task_button:hover {
  transform: scale(1.3);
}